<a href="{{ .RelPermalink }}" class="hl-project">
  <div class="hl-project-container">
    <div class="project-image">
      <!-- before -->
      <div class="p-image-wrapper">
        <div class="p-image-wrapper--inner">
          {{ with .Params.image }}
          <img src="{{ . }}" />
          {{ end }}
        </div>
      </div>
    </div>
    <div class="project-content">
      <p class="project-overline">Featured Project</p>
      <h3 class="hl-project-name">
        {{ .Title }}
      </h3>
      <div class="project-description">
        <p>{{ .Description }}</p>
      </div>
    </div>
  </div>
</a>
