@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  text-rendering: optimizelegibility;
  font-kerning: auto;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  font-family: 'Montserrat', sans-serif;
}

nav#TableOfContents li,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', serif;
}

code > *,
pre > * {
  font-family: 'Cascadia Code', monospace;
}
