@import "variables";

html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  min-width: $body-min-width;
  color: $body-font-color;
  background: $body-background;

  letter-spacing: 0.33px;
  font-weight: $body-font-weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  margin-bottom: 5rem;
}

@media (max-width: $mobile-breakpoint) {
  .main-wrapper {
    margin: 0;
    max-width: none;
    overflow-x: hidden;
    padding-left: 25px;
    padding-right: 25px;
  }

  .container {
    max-width: $container-max-width;
    padding: 0 $padding-8;
    margin: 0 auto;
    word-wrap: break-word;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $body-font-weight;
}

/* <a> */

a {
  color: $color-link;
  transition: color 0.2s;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:active,
a:hover {
  outline: 0;
  opacity: 0.7;
}

a svg {
  color: $body-font-color;
}

img,
svg {
  vertical-align: middle;
}
