@import 'variables';

/* button */
a.button {
  display: inline-block;
  font-size: $font-size-14;
  color: $color-link;
  line-height: $padding-16 * 2;
  padding: 0 $padding-16;
  border: $padding-1 solid $color-link;
  border-radius: $border-radius;
  cursor: pointer;
}
a.button:hover {
  text-decoration: none;
}

/* sitenote */

.sidenote-checkbox {
  display: none;
}

.sidenote {
  margin-top: 0;
  font-size: 0.9rem;
  line-height: 1.25em;
  hyphens: auto;

  float: right;
  clear: right;
  top: -3em;
  margin-right: -$menu-width;
  width: $menu-width;
  padding-left: $padding-16;
  padding-top: $padding-8;
  padding-bottom: $padding-8;

  .sidenote-content {
    font-weight: 400;
    letter-spacing: .33px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .sidenote-label {
    cursor: pointer;
    text-decoration: underline dashed;
  }
  .sidenote {
    display: block;
    float: left;
    margin: 0;
    width: 100%;
    text-align: center;
  }
 .sidenote-checkbox:not(:checked) + .sidenote {
  display: none;
 }   
}

.sidenote-label:hover + * + .sidenote {
  text-decoration: underline;
}

/* hint */

.book-hint.none {
  border-color: $gray-200;
  background-color: $gray-100;
}

.book-hint.info {
  border-color: $hint-color-info;
  background-color: rgba(52, 192, 255, 0.1);
}

/* tabs */

.book-tabs {
  margin-top: $padding-16;
  margin-bottom: $padding-16;
  border: $padding-1 solid $gray-200;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.book-tabs label {
  display: inline-block;
  padding: $padding-8 $padding-16;
  border-bottom: $padding-1 transparent;
  cursor: pointer;
}
.book-tabs .book-tabs-content {
  order: 999;
  width: 100%;
  border-top: $padding-1 solid $gray-100;
  padding: $padding-16;
  display: none;

  > *:first-child {
    margin-top: $padding-8;
  }
}
.book-tabs input[type='radio']:checked + label {
  border-bottom: $padding-1 solid $color-link;
}
.book-tabs input[type='radio']:checked + label + .book-tabs-content {
  display: block;
}

/* about */

.about-container {
  display: flex;
}

.about-image-container {
  flex: none;
  width: $padding-16 * 12;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  border-color: $gray-200;
  padding-right: $padding-16 * 2;

  img {
    border-radius: 5%;
    max-width: 100%;
  }
}

.about-main-container {
  flex-grow: 1 !important;
  width: 100%;
  padding-right: $padding-8;

  > *:first-child {
    margin-top: $padding-16;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

.about-icons-container {
  display: flex;
  flex-direction: column;
  gap: $padding-16;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: $container-max-width) {
  .about-container {
    flex-direction: column;
  }
  .about-image-container {
    width: auto;
    padding-right: 0;
    max-width: 50%;
  }
  .about-icons-container {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
}

// Control information level

$max-levels: 5;

@for $i from 1 to $max-levels {
  @for $j from 1 to $max-levels {
    input[type='radio']#level-#{$i} ~ .level-#{$j},
    input[type='radio']#level-#{$i} ~ * > .level-#{$j} {
      display: none;
    }
  }

  input[type='radio']#level-#{$i}:checked ~ .level-#{$i},
  input[type='radio']#level-#{$i}:checked ~ * > .level-#{$i} {
    display: block;
  }
}

// Monaco Editor

.monaco-editor {
  min-height: 200px;
  width: 100%;
}

.code-editor-container {
  border-width: $padding-1;
  padding: -$padding-1;
  border-radius: $border-radius;
  overflow: hidden;
  border-style: solid;
  border-color: $gray-200;
}

// Mermaid.js

.mermaid {
  text-align: center;
}

// Mathjax

mjx-container {
  overflow-y: visible;
  overflow-x: scroll;
}