@import "variables";


/* Asides */

.Aside--left {
  width: 400px;
  margin: 10px 40px 10px -240px;
  float: left;
}

.Aside--right {
  width: 160px;
  margin: 10px 0 10px 40px;
  float: right;
}

.Aside-media {
  width: 400px;
  max-width: none;
}

.Caption--aside {
  width: 400px;
}

.Caption {
  margin-bottom: 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid var(--color-grey3);
  color: #767676;
  color: var(--color-typo3);
  font-size: 13px;
}

.Caption--aside {
  width: 400px;
}

.Slideshow {
  width: calc(100% + 240px);
  margin-top: 40px;
  margin-bottom: 40px;
}

.Slideshow iframe,
.Slideshow img {
  max-width: 100%;
}

.Slideshow--right {
  float: right;
}

@media (max-width: 1040px) {
  .Aside-media {
    width: 100%;
  }
  .Caption--aside {
    width: 100%;
  }
  .Aside--left,
  .Aside--right {
    width: 560px;
    width: var(--size-s);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0;
    float: none;
  }
  .Slideshow {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .Aside--left,
  .Aside--right {
    width: 100%;
  }
}

/* button */
a.button {
  display: inline-block;
  font-size: $font-size-14;
  color: $color-link;
  line-height: $padding-16 * 2;
  padding: 0 $padding-16;
  border: $padding-1 solid $color-link;
  border-radius: $border-radius;
  cursor: pointer;
}
a.button:hover {
  text-decoration: none;
}

/* hint */
.book-hint.none {
  border-color: $gray-200;
  background-color: $gray-100;
}

.book-hint.info {
  border-color: $hint-color-info;
  background-color: rgba(52, 192, 255, 0.1);
}

/* tabs */

.book-tabs {
  margin-top: $padding-16;
  margin-bottom: $padding-16;
  border: $padding-1 solid $gray-200;
  border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.book-tabs label {
  display: inline-block;
  padding: $padding-8 $padding-16;
  border-bottom: $padding-1 transparent;
  cursor: pointer;
}
.book-tabs .book-tabs-content {
  order: 999;
  width: 100%;
  border-top: $padding-1 solid $gray-100;
  padding: $padding-16;
  display: none;
}
.book-tabs input[type="radio"]:checked + label {
  border-bottom: $padding-1 solid $color-link;
}
.book-tabs input[type="radio"]:checked + label + .book-tabs-content {
  display: block;
}
.book-tabs input[type="radio"]:focus + label {
  border: $padding-1 solid $color-link;
  padding: ($padding-8 - 1rem / 32) ($padding-16 - 1rem / 16); // To account for change in border 
}

/* about */

.about-container {
  display: flex;
}

.about-image-container {
  flex: none;
  width: $padding-16 * 12;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  border-color: $gray-200;
  padding-right: $padding-16 * 2;

  img {
    max-width: 100%;
  }
}

.about-main-container {
  flex-grow: 1 !important;
  width: 100%;
}

.about-icons-container {
  display: flex;
  flex-direction: column;
  gap: $padding-16;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: $mobile-breakpoint) {
  .about-container {
    flex-direction: column;
  }
  .about-image-container {
    width: auto;
    padding-right: 0;
  }
  .about-icons-container {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
}

// Control information level

@for $i from 1 to 5 {
  input[type="radio"].level-#{$i} ~ .level-#{$i},
  input[type="radio"].level-#{$i} ~ * > .level-#{$i} {
    display: none;
  }

  input[type="radio"].level-#{$i}:checked ~ .level-#{$i},
  input[type="radio"].level-#{$i}:checked ~ * > .level-#{$i} {
    display: block;
  }
}

// Resume

// Skills

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-item {
  padding: $padding-8 / 2 $padding-16 * 2;
  font-size: smaller;
  border-radius: $border-radius;
  background-color: $gray-100;
  margin: $padding-8 $padding-16;
  flex-grow: 1;
}