@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

html {
    overflow-x: hidden;
}

section {
    margin-bottom: 8rem;
}

section.hero {
    height: 100vh;
    width: 100%;
    background: rgb(243, 243, 243);
    background: linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(255, 255, 255, 1) 93%, rgba(255, 255, 255, 1) 100%);
    cursor: default;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    overflow-x: hidden;

    .left {
        grid-column: 1 / 15;
        grid-row: 4 / 20;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        div.bg {
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: #f30000;
            mix-blend-mode: multiply;

            .bg-accent {
                height: 100%;
                width: 20px;
                margin-left: -20px;
                background-color: #ff0000;
            }
        }
    }

    .tagline {
        z-index: 3;
        padding-right: 4em;
        top: 50%;
        transform: translate(0%, -50%);
        position: absolute;

        h1,
        h2 {
            mix-blend-mode: normal;
            color: white;
            opacity: 1;
            font-size: 7.58vw;
            font-weight: 700;
            line-height: 1.25;
            margin: 0;
        }

        h2 {
            font-size: 2em;
        }
    }

    .hero-img {
        display: relative;
        z-index: 1;
        grid-column: 15 / 20;
        grid-row: 6 / 16;
        margin-left: -16rem;

        img {
            width: 100%;
            height: 100%;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            object-fit: cover;
        }
    }

    .dots {
        grid-column: 16 / 19;
        grid-row: 16;
        margin-left: 1rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        font-size: 2em;
        min-width: 6em;

        :last-child {
            color: red;
        }
    }

    .sideways {
        color: white;
        opacity: .7;
        writing-mode: sideways-lr;
        text-orientation: mixed;

        position: absolute;
        left: 40px;
        top: 50%;
        transform: translate(50%, -50%);
    }
}

@media (max-width: 700px) {
    section.hero {
        .left {
            grid-column: 1 / 19;
        }

        .hero-img img {
            width: unset;
        }

        .tagline {
            left: calc(20px + 1em);
            padding-right: 0;
            h1 {
                font-size: 3em;
            }
        }

        .dots {
            grid-column: 10 / 14;
            grid-row: 17;
            margin-left: 0;
            margin-top: 2rem;
        }
    }
}

section.hero .border {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-top: 20px solid white;
    border-left: 20px solid white;
    border-right: 20px solid white;
}

@media (max-width: 840px) {
    section.hero .border {
        border-top: calc(20px / 2) solid white;
        border-left: calc(20px / 2) solid white;
        border-right: calc(20px / 2) solid white;
    }
}

.container {
    margin-top: 0;
}

main section {
    .header {
        font-size: 1.1em;
        opacity: .6;
        margin-bottom: 1em;
    }

    &.tagline {
        padding-top: 2em;
        padding-bottom: 4em;
        font-size: 2.7em;
        text-align: center;
    }

    &.contact-me {
        text-align: center;
        background-color: rgb(243, 243, 243);
        padding: 4rem;

        :first-child {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    main section.tagline {
        font-size: 1.7em;
    }
}

.common-header nav {
    z-index: 10;
}