:root {
  --padding-1: 1px;
  --padding-4: 0.25rem;
  --padding-8: 0.5rem;
  --padding-16: 1rem;

  --font-size-base: 16px;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;

  --border-radius: var(--padding-4);

  --body-font-weight: normal;

  --body-min-width: 20rem;
  --container-max-width: 80rem;

  --header-height: 3.5rem;

  --mobile-breakpoint: var(--body-min-width) * 1.2;

  /* colors */

  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #0055bb;
  --color-visited-link: #8440f1;

  --body-background: white;
  --body-font-color: black;

  --icon-filter: none;

  --color-green: #6ba;
  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}
